body {
  background-image: url("../images/d0f22ba21124dba8fe59dce25575ae67.gif");
  display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255);
    text-shadow: 3px 4px 2px #000000;

}




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#head {
  background-color: rgb(204, 248, 248);
}